<h1>User#post_approved_notification</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/post_approved_notification.html.erb
</p>

<p>
  <%= link_to 'View Post', Post.last, class: 'btn btn-primary' %>
</p>
