<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <header>
      <%= link_to '#' do %>
        <img alt="Logo" src="https://via.placeholder.com/200x70?text=Logo" height="70">
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <hr>
      <p>
      <%= link_to '#' do %>
        <small>Contact info</small>
      <% end %>
      </p>
    </footer>
  </body>
</html>
